option_settings:
   aws:elasticbeanstalk:container:python:
    WSGIPath: greatkart.wsgi:application
   aws:elasticbeanstalk:environment:proxy:staticfiles:
     "/static/css/": "staticcss/"
     "/static/js/": "staticjs/"
     "/static/images/": "staticimages/"
     "/static/fonts/": "staticfonts/"
     "/static/images/banners/": "staticimages/"
     "/static/fonts/fontawesome/css/": "staticfonts/"


