option_settings:
   aws:elasticbeanstalk:container:python:
    WSGIPath: greatkart.wsgi:application
   aws:elasticbeanstalk:environment:proxy:staticfiles:
     "/static/css/": "staticfilescss/"
     "/static/js/": "staticfilesjs/"
     "/static/images/": "staticfilesimages/"
     "/static/fonts/": "staticfilesfonts/"
     "/static/images/": "staticfilesimages/"
     "/static/fonts/": "staticfilesfonts/"


