option_settings:
   aws:elasticbeanstalk:container:python:
    WSGIPath: greatkart.wsgi:application
   aws:elasticbeanstalk:environment:proxy:staticfiles:
     "/static/css/": "staticfiles/css/"
     "/static/js/": "staticfiles/js/"
     "/static/images/": "staticfiles/images/"
     "/static/fonts/": "staticfiles/fonts/"
     "/static/images/banners/": "staticfiles/images/banners/"
     "/static/fonts/fontawesome/css/": "staticfiles/fonts/fontawesome/css/"


